body{
    margin:0px;
    text-align: center;
    font-family: serif;
    font-family: 'Merriweather', serif;
    color: #40514E;
}


h1{

    
     margin: 50px auto 0 auto ; 
     font-family: 'Sacramento', cursive; 
     font-size:5.625rem;
     color: #66BFBF;
        /* line-height: 2; */
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color: #66BFBF;
     font-weight: normal;
     padding-bottom: 10px;   
}


h3{
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}

p{
    line-height:2;
}

hr{
    border:dotted #EAF6F6 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto 100px auto;
}
.top-container{
    background-color: #B1D7B4;
    position: relative;
    padding-top: 80px;
}

.bottom-cloud{

    position: absolute;
    left:300px;
    bottom: 300px;
}

.top-cloud{
    position:absolute;
    top: 50px;
    right:300px;   
}


.middle-container{
   padding: 100px 0px;
}

.intro{
    width: 40%;
    margin: 0px auto 0px auto;
}

a{
    color:  #11999E;
}

.bottom-container{
    margin:10px auto 10px auto;
    background-color: #66BFBF;
    padding: 52px 0 20px;
    /* margin-bottom: 0px; */
}
.bottom-container a{
  padding:20px;
  text-decoration: none;
  color: #11999E;
  font-weight: bold;
  justify-content:center;
}

.contact-me{
    margin-bottom: 86px;
    line-height: 2;
}

.contactpara{
    width:50%;
    margin: 10px auto;
}
.copyright{
    color: #EAF6F6;
    margin-bottom: 10px;
    padding-top: 32px;
    
}

.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    

}

.skillset{
    width:25%;
    float:left;
    margin-right:30px; 
}

.chilli
{
    width:25%;
    float:right;
    margin-left:30px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
    text-decoration: none;
  }

